/*SLIDESHOW*/
.slideshow-container {
    display: flex;
    align-items: center;

    position: relative;
    margin-bottom: 0;

}

.slideshow-container img {
    width: 100vw;
    height: 300px;
    object-fit:cover;

    display: block;

}

.caption {
    color: #fafaf7;
    font-size: 15px;
    padding: 0px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;

    text-align: left;
    background: rgba(0,0,0,0.6);

}
.caption p {
    margin-left: 10px;
}

/* INTRODUCTION SECTION*/

.intro-strip-container {

    font-family:"Garamond", serif;
    font-size: 17px;
    background-color:#93e090;
    
    margin-top: 0;
    padding-top: 0;

    text-align: left;
}

.intro-strip-container p{
    margin-left: 20px;
}
.homepage {
    background-color: #fafaf7;
    min-height: 100%;
}

.intro-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.info-card {
    background-color: #ecece9;
    background: var(--card);
    box-shadow: 0 4px 8px 0 rgba(4, 4, 4, 0.2);

    padding: 20px;
    transition: box-shadow 0.2s;
    margin: 20px;
}

.info-card h3 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
}

.info-card p {
    text-align: left;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}